<p style="position: fixed; width: 100%; z-index: 2">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Computer Hardware Store System</span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<mat-drawer-container class="example-container" hasBackdrop="false" style="height: 100vh">
  <mat-drawer #drawer mode="side" opened>
<!--    <mat-toolbar color="primary" style="width: 200px">-->
<!--      Menu-->
<!--    </mat-toolbar>-->
    <div style="margin-top: 64px"></div>
    <div>
      <button mat-button class="text-start w-100" (click)="setPage('product')" color="{{pageName == 'product' ? 'primary' : 'null'}}">
        <mat-icon >inventory_2</mat-icon>
        Product
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="text-start w-100" (click)="setPage('productType')" color="{{pageName == 'productType' ? 'primary' : 'null'}}">
        <mat-icon>category</mat-icon>
        Product Type
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="text-start w-100" (click)="setPage('product3')" color="{{pageName == 'product3' ? 'primary' : 'null'}}">
        Basic
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="text-start w-100" (click)="setPage('product4')" color="{{pageName == 'product4' ? 'primary' : 'null'}}">
        Basic
      </button>
      <mat-divider></mat-divider>
    </div>
  </mat-drawer>
  <mat-drawer-content>

    <div style="margin-top: 70px"></div>
    <div [ngSwitch]="pageName" class="mx-3 my-3">
      <div *ngSwitchCase="'product'">
        <app-product></app-product>
      </div>
      <div *ngSwitchCase="'productType'">
        <app-product-type></app-product-type>
      </div>
      <div *ngSwitchDefault>
        no page
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
